<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- 机器鱼水动力核心参数（与base_link尺寸匹配） -->
  <xacro:property name="shark_test_cob" value="0.038191 -0.0011682 0.029734"/>  <!-- 浮心（z轴高于重心） -->
  <xacro:property name="shark_test_volume" value="0.04"/>  <!-- 排水体积（浮力≈40N>重力≈34N） -->
  <xacro:property name="shark_test_length" value="0.65"/>  <!-- 体长 -->
  <xacro:property name="shark_test_width"  value="0.32"/>  <!-- 体宽 -->
  <xacro:property name="shark_test_height" value="0.25"/>  <!-- 体高 -->

  <!-- 水动力模型宏（写入base_link的参数，供插件读取） -->
  <xacro:macro name="shark_test_hydro_model" params="namespace">
        <xacro:modify_link name="${namespace}/base_link">
        <neutrally_buoyant>0</neutrally_buoyant>
        <volume>${shark_test_volume}</volume>
        <center_of_buoyancy>${shark_test_cob}</center_of_buoyancy>
        <box>
            <width>${shark_test_width}</width>
            <length>${shark_test_length}</length>
            <height>${shark_test_height}</height>
        </box>
        <hydrodynamic_model>
            <type>fossen</type>
            <added_mass>
            0.1   0      0      0      0      0
            0    0.08    0      0      0      0
            0     0     0.12    0      0      0
            0     0      0     0.01    0      0
            0     0      0      0     0.01    0
            0     0      0      0      0     0.01
            </added_mass>
            <linear_damping>8 5 5 0.8 0.8 0.8</linear_damping>
            <quadratic_damping>100 80 80 20 20 20</quadratic_damping>
        </hydrodynamic_model>
        </xacro:modify_link>
  </xacro:macro>
</robot>
