<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- 推进器：机器鱼尾部推进，ID 0 为主推进器 -->
  <!-- <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="0"> -->
    <!-- <origin xyz="0.23 0 0.019734" rpy="0 0 ${pi}" />  -->
  <!-- </xacro:thruster_macro> -->

  
  <!-- 左胸鳍（fin_id=0） -->
  <xacro:fin_macro namespace="${namespace}" fin_id="0">
    <origin xyz="0.1 -0.05 0" rpy="0 0 0"/>
  </xacro:fin_macro>

  <!-- 右胸鳍（fin_id=1） -->
  <xacro:fin_macro namespace="${namespace}" fin_id="1">
    <origin xyz="0.1 0.05 0" rpy="0 0 0"/>
  </xacro:fin_macro>

  <!-- 尾鳍（fin_id=2） -->
  <xacro:fin_macro namespace="${namespace}" fin_id="2">
    <origin xyz="-0.2 0 0" rpy="0 0 0"/>
  </xacro:fin_macro>




</robot>
